# Subdirectories
mlstep.egg-info/
__pycache__/
CMakeFiles/
build/
mlstep/data/
mlstep/24hr_data
plots/
runs/
mlstep/plots/
mlstep/runs/

# Specific files
CMakeCache.txt
Makefile

# File extensions
*.cmake
